<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="../img/cybertrust.png" height="200px"/>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Cybertrust</h4>
    <p>
    	Phishing is a multi-billion-dollar problem that affects millions of web users daily. Malicious phishing content comes in many forms including targeted and untargeted email, websites that emulate the look and feel of legitimate sites, and social media posts. While spam filters and other technical measures prevent a lot of phishing campaigns from reaching their targets, many millions of phishing emails and social media posts make it to their potential victims daily – putting the onus of phishing prevention into the hands of the end user. Fundamental research to accurately understand user behavior in making problematic trust decisions must be coupled with application development to bring awareness to users and reduce phishing victimization.<br>
    </p>
  </div>
</div>
<p>
	Cybertrust is a simulation platform for conducting phishing research experiments. The platform was originally designed while I was at the University of Tulsa. CyberTrust presents users with realistic web content (both malicious and innocuous), helps researchers investigate how they perceive and trust different types of content, and then trains them to perform better in the future. <br>
    <br>
    Using the platform, we developed a phishing victimization prediction model based on structural indicators of trust that pinpointed the effects of different cues on victimization potential and showed that it could successfully predict victimization for youthful populations of users (18-25 demographic) based on an empirical study involving 80 subjects and over 5400 trust decisions.
</p>
<h4>Publications related to this project</h4>
