<div class="media col-sm-12 hidden-xs" style="padding-left: 0px; padding-right: 0px; padding-bottom: 10px;">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="{{constants.rootURL}}img/cybertrust.png" height="200px"/>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Cybertrust</h4>
    <p class="text-justify">
    	Phishing is a multi-billion-dollar problem that affects millions of web users daily. Malicious phishing content comes in many forms including targeted and untargeted email, websites that emulate the look and feel of legitimate sites, and social media posts. While spam filters and other technical measures prevent a lot of phishing campaigns from reaching their targets, many millions of phishing emails and social media posts make it to their potential victims daily – putting the onus of phishing prevention into the hands of the end user. Fundamental research to accurately understand user behavior in making problematic trust decisions must be coupled with application development to bring awareness to users and reduce phishing victimization.<br>
    </p>
  </div>
</div>
<a href="#"><img class="media-object col-xs-12 visible-xs-block" src="{{constants.rootURL}}img/cybertrust.png" width="100%" style="padding-left: 0px; padding-right: 0px; padding-bottom: 10px;"/></a>
<h4 class="media-heading col-xs-12 visible-xs-block" style="padding-left: 0px; padding-right: 0px;">Cybertrust</h4>
<p class="text-justify col-xs-12 visible-xs-block" style="padding-left: 0px; padding-right: 0px;">
  Phishing is a multi-billion-dollar problem that affects millions of web users daily. Malicious phishing content comes in many forms including targeted and untargeted email, websites that emulate the look and feel of legitimate sites, and social media posts. While spam filters and other technical measures prevent a lot of phishing campaigns from reaching their targets, many millions of phishing emails and social media posts make it to their potential victims daily – putting the onus of phishing prevention into the hands of the end user. Fundamental research to accurately understand user behavior in making problematic trust decisions must be coupled with application development to bring awareness to users and reduce phishing victimization.
</p>
<p class="text-justify">
	Cybertrust is a simulation platform for conducting phishing research experiments. The platform was originally designed while I was at the University of Tulsa. CyberTrust presents users with realistic web content (both malicious and innocuous), helps researchers investigate how they perceive and trust different types of content, and then trains them to perform better in the future. <br>
    <br>
    Using the platform, we developed a phishing victimization prediction model based on structural indicators of trust that pinpointed the effects of different cues on victimization potential and showed that it could successfully predict victimization for youthful populations of users (18-25 demographic) based on an empirical study involving 80 subjects and over 5400 trust decisions.
</p>
<h4>Publications related to this project</h4>
<ul>
	<li class="text-justify"><strong>Hale, M. L</strong>, Walter, C., Lin, J., Gamble, R. F., (2017). <a target="_blank" href="http://hipore.com/ijsc/2017/IJSC-Vol5-No1-2017-pp1-13.pdf"> A priori Prediction of Phishing Victimization based on Structural Content Factors</a>, <em>International Journal of Services Computing (IJSC)</em>, 5(1), 2017, pp. 1-13. </li>

	<li class="text-justify"><strong>Matthew L. Hale</strong>, Rose Gamble, John Hale, Michael Haney, Charles Walter, and Jessica Lin, <a target="_blank" href="http://dx.doi.org/10.1109/ICWS.2015.49">“Measuring the Potential for Victimization in Malicious Content,”</a> <em>in Proceedings of the 22nd IEEE International Conference on Web Services</em>, 2015.</li>

	<li class="text-justify"><strong>M. L. Hale</strong>, R. Gamble, and P. Gamble, <a target="_blank" href="http://doi.ieeecomputersociety.org/10.1109/HICSS.2015.670">“CyberPhishing: A Game-based Platform for Phishing Awareness Testing”,</a> <em>48<sup>th</sup> IEEE Hawaii International Conference on System Sciences</em>, 2015.</li>

	<li class="text-justify"><strong>Hale, M. </strong>and&nbsp;Gamble, R., <a target="_blank" href="http://dx.doi.org/10.1109/SERVICES.2014.30">"Toward Increasing Awareness of Suspicious Content through Game Play,"</a>&nbsp;<i>IEEE World Congress on</i> Services (SERVICES), vol., no., <span class="skimlinks-unlinked">pp.113,120</span>, 2014.<br>
	doi: 10.1109/<span class="skimlinks-unlinked">SERVICES.2014.30</span></li>
</ul>