
<div class="media col-sm-12 hidden-xs" style="padding-left: 0px; padding-right: 0px; padding-bottom: 10px;">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="{{constants.rootURL}}img/gencyber-brand-compliant.png" height="200px"/>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Nebraska GenCyber</h4>
    <p class="text-justify">
    	Our country's national and economic security is highly dependent upon a strong cybersecurity workforce. Despite this need, according to Bureau of Labor statistics, nearly 210,000 cybersecurity positions went unfilled in 2015 alone. This shortfall of cybersecurity professionals in the workforce has left national agencies and corporations scrambling to meet security needs. <br>
    </p>
  </div>
</div>
<a href="#"><img class="media-object col-xs-12 visible-xs-block" src="{{constants.rootURL}}img/gencyber-brand-compliant.png" width="100%" style="padding-left: 0px; padding-right: 0px; padding-bottom: 10px;"/></a>
<h4 class="media-heading col-xs-12 visible-xs-block" style="padding-left: 0px; padding-right: 0px;">Nebraska GenCyber</h4>
<p class="text-justify col-xs-12 visible-xs-block" style="padding-left: 0px; padding-right: 0px;">
  Our country's national and economic security is highly dependent upon a strong cybersecurity workforce. Despite this need, according to Bureau of Labor statistics, nearly 210,000 cybersecurity positions went unfilled in 2015 alone. This shortfall of cybersecurity professionals in the workforce has left national agencies and corporations scrambling to meet security needs.
</p>
<p class="text-justify">
	Unfortunately, current secondary school curricula across the country, and in Nebraska, leave students and educators with minimal or no exposure to cybersecurity topics. Addressing this need, the University of Nebraska at Omaha (UNO) will partner with Bellevue University and AIM, a Nebraska not-for-profit institution with the mission of building Nebraska’s IT talent pipeline, to offer the 2017 “Nebraska GenCyber Camp” (NGC) for secondary students (grades 9 &amp; 10) and educators from around the area and country. NGC will help narrow the cybersecurity workforce gap by introducing educators and students to cybersecurity and cybersecurity first principles through active, hands-on, activities in ways that build a pipeline towards information security careers for students in camp and empower teachers to integrate cybersecurity into their own classrooms to widen that pipeline to include students in their home school districts.<br>
	<br>
	NGC follows up on last year’s successful camp that was recognized at the 2016 Fall PI meeting session on best practices in combination camps for its innovative combination curricula and its use of open source, self-paced, and virtualized content delivery methods. In addition to using these strategies in our 2017 camp we also want to move the needle forward, in two ways, to make 2017 an even better camp. First, based on our observations and survey results, last year’s web application theme worked well, but students and teachers lacked a tactile cyber-physical interface to see their code in action. Therefore, for our 2017 camp we have identified a theme focused on cyber-physical applications in the internet of things that adds a cyber-physical component to the applications that students and teachers build and explore. Second, we are also increasing the camp duration for teachers to two weeks based on feedback from the NSA site review team, our 2016 teacher comments during camp, and post-camp surveys that suggested more contact time was needed to a) allow teachers more time to develop and tailor curricula and b) provide ‘breathing room’ between cybersecurity-centric modules for reflection on learning strategies and teaching best practices.
</p>
<h4>Curricula and Results of 2016 Camp</h4>
<p class="text-justify">
	The 2017 GenCyber included 14 teachers and 25 students from area schools. The IoT oriented curricula developed for camp is available at <a target="_blank" href="http://github.com/MLHale/nebraska-gencyber/">http://github.com/MLHale/nebraska-gencyber/</a>.
  <br>
  <br>
  Photos and archived twitter posts from camp may be found at <a href="https://twitter.com/search?q=%23nebraskagencyber">https://twitter.com/search?q=%23nebraskagencyber</a>

</p>

<h4>Curricula and Results of 2016 Camp</h4>
<p class="text-justify">
	The 2016 GenCyber included 20 teachers and 25 students from area schools. The web-service oriented curricula developed for camp is available at <a target="_blank" href="http://github.com/MLHale/GenCyber-web-content">http://github.com/MLHale/GenCyber-web-content</a>.
</p>
<h4>Publications related to this project</h4>
TBA
