
<div class="media col-sm-12 hidden-xs" style="padding-left: 0px; padding-right: 0px; padding-bottom: 10px;">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="{{constants.rootURL}}img/gencyber-2019-logo.png" height="200px"/>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Nebraska GenCyber</h4>
    <p class="text-justify">
    	Our country's national and economic security is highly dependent upon a strong cybersecurity workforce. Despite this need, according to Bureau of Labor statistics, nearly 210,000 cybersecurity positions went unfilled in 2015 alone. This shortfall of cybersecurity professionals in the workforce has left national agencies and corporations scrambling to meet security needs. <br>
    </p>
  </div>
</div>
<a href="#"><img class="media-object col-xs-12 visible-xs-block" src="{{constants.rootURL}}img/gencyber-brand-compliant.png" width="100%" style="padding-left: 0px; padding-right: 0px; padding-bottom: 10px;"/></a>
<h4 class="media-heading col-xs-12 visible-xs-block" style="padding-left: 0px; padding-right: 0px;">Nebraska GenCyber</h4>
<p class="text-justify col-xs-12 visible-xs-block" style="padding-left: 0px; padding-right: 0px;">
  Our country's national and economic security is highly dependent upon a strong cybersecurity workforce. Despite this need, according to Bureau of Labor statistics, nearly 210,000 cybersecurity positions went unfilled in 2015 alone. This shortfall of cybersecurity professionals in the workforce has left national agencies and corporations scrambling to meet security needs.
</p>
<p class="text-justify">
	Unfortunately, current secondary school curricula across the country, and in Nebraska, leave students and educators with minimal or no exposure to cybersecurity topics. Addressing this need, the University of Nebraska at Omaha (UNO), in partnership with the NSA and NSF offers the “Nebraska GenCyber Camp” (NGC). Prior camps have targetted secondary school students (grades 6-10) and educators from around the area and country. NGC is helping narrow the cybersecurity workforce gap by introducing educators and students to cybersecurity and cybersecurity first principles through active, hands-on, activities in ways that build a pipeline towards information security careers for students in camp and empower teachers to integrate cybersecurity into their own classrooms to widen that pipeline to include students in their home school districts.<br>
	<br>
	NGC has has been recognized for multiple years at the 2016-2019 Fall PI meeting sessions on best practices in combination camps and first principles for its innovative combination curricula and its use of open source, self-paced, and virtualized content delivery methods.
</p>
<h4>Curricula and Results of 2019 Camp</h4>
<p class="text-justify">
	The 2019 GenCyber was an all-girls middle school camp. The camp focused on developing Rube Goldberg machines, computational thinking, and empowerment in technology. You can find the curricula here <a target="_blank" href="https://www.nebraskagencyber.com/modules/2019">https://www.nebraskagencyber.com/modules/2019</a>.
  <br>
  <br>
  Photos and archived twitter posts from camp may be found at <a href="https://twitter.com/search?q=%23nebraskagencyber">https://twitter.com/search?q=%23nebraskagencyber</a>

</p>
<h4>Curricula and Results of 2018 Camp</h4>
<p class="text-justify">
	The 2018 GenCyber was a combination camp. This year we refined our prior curricula to focus more narrowly on teacher-developed curricula. You can find the modules created by our faculty, staff, and teacher participants here <a target="_blank" href="https://www.nebraskagencyber.com/modules/2018">https://www.nebraskagencyber.com/modules/2018</a>.
  <br>
  <br>
  Photos and archived twitter posts from camp may be found at <a href="https://twitter.com/search?q=%23nebraskagencyber">https://twitter.com/search?q=%23nebraskagencyber</a>

</p>
<h4>Curricula and Results of 2017 Camp</h4>
<p class="text-justify">
	The 2017 GenCyber included 14 teachers and 25 students from area schools. The IoT oriented curricula developed for camp is available at <a target="_blank" href="http://github.com/MLHale/nebraska-gencyber/">http://github.com/MLHale/nebraska-gencyber/</a>.
  <br>
  <br>
  Photos and archived twitter posts from camp may be found at <a href="https://twitter.com/search?q=%23nebraskagencyber">https://twitter.com/search?q=%23nebraskagencyber</a>

</p>

<h4>Curricula and Results of 2016 Camp</h4>
<p class="text-justify">
	The 2016 GenCyber included 20 teachers and 25 students from area schools. The web-service oriented curricula developed for camp is available at <a target="_blank" href="http://github.com/MLHale/GenCyber-web-content">http://github.com/MLHale/GenCyber-web-content</a>.
</p>
<h4>Publications related to this project</h4>
TBA
