<p class="text-justify" style="padding-left: 0px; padding-right: 0px;">
  I am currently working on two major projects: SecuWear and Cybertrust. I am also the program director and primary investigator for the Nebraska Gencyber project, a STEM outreach summer camp for students and teachers. These projects currently graduate students and multiple independant study students listed in the {{#link-to 'students'}}student{{/link-to}} area. 
  <br><br>
  Select a project listed above to find out more information about on-going efforts and publications linked to these projects.

</p>