<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="{{constants.rootURL}}img/secuwear.png" height="200px"/>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">SecuWear</h4>
    <p class="text-justify">
    	Wearables are emerging as the next major ubiquitous computing area. The $9 billion market, as of 2014, is expected to surge forward to over $30 billion by 2018 and upwards to $70 billion by 2024 [1]. Vast permeation of wearables into the consumer, medical, and business electronics markets is coinciding with improved form factors that decrease the size and increase the computational abilities and battery life of wearable devices. 
    </p>
  </div>
</div>
<p class="text-justify">
	Wearables operate in body area networks using the Bluetooth Low Energy (BLE) protocol to pair with and transmit data to a user’s smartphone and often interact with web services on the internet. Since wearable devices use proprietary hardware and closed APIs, finding common ground to test, explore, and analyze wearable security is a difficult task. Researchers seek to explore, exemplify, and categorize security vulnerabilities universally for distribution in repositories, such as the National Vulnerability Database (NVD) and the Common Vulnerability Exposures and Common Weakness Enumeration (CVE  and CWE, respectively), and map these vulnerabilities to specific devices. The goal is to identify vulnerability patterns to prevent future development efforts from repeating mistakes and to correct existing wearable applications through effective software/firmware patches. 
	<br><br>
	<strong>SecuWear</strong> is a security analysis playground and toolkit that security researchers and application developers can use to structure, conduct, and analyze the results of experiments involving security vulnerabilities. It is designed with transparency and openness to give researchers full knowledge and control over all components in the wearable architecture so they can better understand and assess vulnerabilities. To achieve transparency, SecuWear is built upon five core open source technologies, namely MetaWear (a wearable device), Android (the mobile app), Ubertooth One (for conducting attacks over the air between the smartphone and wearable), Django (a web-app framework for logging data collected on the mobile app and Ubertooth), and ember.js (a client-side MVC framework used for visualizing user data).<br>
</p>
<h4>Publications related to this project</h4>
<ul>
	<li class="text-justify">Charles Walter, <strong>Matthew L. Hale</strong>, and Rose F. Gamble, <a target="_blank" href="https://doi.org/10.1145/2897035.2897038">“Imposing security awareness on wearables”,</a> <em>in Proceedings of the 2nd International Workshop on Software Engineering for Smart Cyber-Physical Systems (SEsCPS '16)</em>, ACM, New York, NY, USA, 29-35, 2016.</li>

	<li style="text-align:justify;">Kerolos Lotfy and <strong>Matthew L. Hale</strong>, “Assessing Pairing and Data Exchange Mechanism Security in the Wearable Internet of Things”, <em>Proceedings of the 5th IEEE International Conference on Mobile Services</em>, 2016.</li>

	<li style="text-align:justify;"><strong>Matthew L. Hale</strong> and Seth Hanson, <a target="_blank" href="http://dx.doi.org/10.1109/SERVICES.2015.35"> “A Testbed and Process for Analyzing Attack Vectors and Vulnerabilities in Hybrid Mobile Apps Connected to RESTful Web Services,”</a> <em>in Proceedings of the 11th IEEE World Congress on Services, Visionary Track on Security and Privacy</em>, 2015.</li>

	<li style="text-align:justify;"><strong>Matthew L. Hale</strong>, Dalton Ellis, Rose Gamble, Charles Walter, Jessica Lin, <a target="_blank" href="http://dx.doi.org/10.1109/MobServ.2015.23">“SecuWear: An open source, multi-component hardware/software platform for exploring wearable security,”</a> <em>in Proceedings of the IEEE International Conference on Mobile Services</em>, 2015.</li>
</ul>