<h3 class="main-heading">Contact us</h3>
<div class="row-fluid">
	<div class="col-xs-12 col-md-8">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2999.8734220017277!2d-96.01542410256542!3d41.24631504761851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87938dad8e7d06ab%3A0xd0fd44a640e0f9e5!2sPeter+Kiewit+Institute!5e0!3m2!1sen!2sus!4v1479532922800" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	
	<div class="col-xs-12 col-md-4">
		<address>
			<strong>Dr. Matthew Hale</strong><br>
			University of Nebraska Omaha Scott Campus<br>
			1110 S 67th St, <br>
			Omaha, NE 68182<br>
			<br>
			<abbr title="Phone">P:</abbr> (402) 554-3978
		</address>
	</div>
</div>
