<h3 class="main-heading">Publications</h3>
<h4>Journal Publications</h4>
<ul>
	<li style="text-align:justify;"><strong>Hale, M. L</strong>, Walter, C., Lin, J., Gamble, R. F., (2017). <a target="_blank" href="http://hipore.com/ijsc/2017/IJSC-Vol5-No1-2017-pp1-13.pdf"> A priori Prediction of Phishing Victimization based on Structural Content Factors</a>, <em>International Journal of Services Computing (IJSC)</em>, 5(1), 2017, pp. 1-13. </li>
</ul>
<h4>Conference Publications</h4>
<ul>
	<li class="text-justify">Hefley M., Wethor, G. E., and <strong>Hale, M. L.</strong>, (2017). <a target="_blank" href=""> Multimodal Data Fusion and Behavioral Analysis Tooling for Exploring Trust, Trust-propensity, and Phishing Victimization in Online Environments </a>, <em>51<sup>st</sup> IEEE Hawaii International Conference on System Sciences</em>, 2018. </li>
	
	<li style="text-align:justify;">Charles Walter, <strong>Matthew L. Hale</strong>, and Rose F. Gamble, <a target="_blank" href="https://doi.org/10.1145/2897035.2897038">“Imposing security awareness on wearables”,</a> <em>in Proceedings of the 2nd International Workshop on Software Engineering for Smart Cyber-Physical Systems (SEsCPS '16)</em>, ACM, New York, NY, USA, 29-35, 2016.</li>

	<li style="text-align:justify;">Allen Marshall, Rose F. Gamble, and <strong>Matthew L. Hale</strong>, <a target="_blank" href="https://doi.org/10.1145/2897000.2897003">“Outcomes of emotional content from agile team forum posts”,</a> <em>Proceedings of the 1st International Workshop on Emotion Awareness in Software Engineering at the International Conference on Software Engineering (SEmotion '16)</em>, ACM, New York, NY, USA, 6-11, 2016.</li>

	<li style="text-align:justify;">Kerolos Lotfy and <strong>Matthew L. Hale</strong>, “Assessing Pairing and Data Exchange Mechanism Security in the Wearable Internet of Things”, <em>Proceedings of the 5th IEEE International Conference on Mobile Services</em>, 2016.</li>

	<li style="text-align:justify;"><strong>Matthew L. Hale</strong> and Seth Hanson, <a target="_blank" href="http://dx.doi.org/10.1109/SERVICES.2015.35"> “A Testbed and Process for Analyzing Attack Vectors and Vulnerabilities in Hybrid Mobile Apps Connected to RESTful Web Services,”</a> <em>in Proceedings of the 11th IEEE World Congress on Services, Visionary Track on Security and Privacy</em>, 2015.</li>

	<li style="text-align:justify;"><strong>Matthew L. Hale</strong>, Rose Gamble, John Hale, Michael Haney, Charles Walter, and Jessica Lin, <a target="_blank" href="http://dx.doi.org/10.1109/ICWS.2015.49">“Measuring the Potential for Victimization in Malicious Content,”</a> <em>in Proceedings of the 22nd IEEE International Conference on Web Services</em>, 2015.</li>

	<li style="text-align:justify;"><strong>Matthew L. Hale</strong>, Dalton Ellis, Rose Gamble, Charles Walter, Jessica Lin, <a target="_blank" href="http://dx.doi.org/10.1109/MobServ.2015.23">“SecuWear: An open source, multi-component hardware/software platform for exploring wearable security,”</a> <em>in Proceedings of the IEEE International Conference on Mobile Services</em>, 2015.</li>

	<li style="text-align:justify;"><strong>M. L. Hale</strong>, R. Gamble, and P. Gamble, <a target="_blank" href="http://doi.ieeecomputersociety.org/10.1109/HICSS.2015.670">“CyberPhishing: A Game-based Platform for Phishing Awareness Testing”,</a> <em>48<sup>th</sup> IEEE Hawaii International Conference on System Sciences</em>, 2015.</li>

	<li style="text-align:justify;"><strong>Hale, M. </strong>and&nbsp;Gamble, R., <a target="_blank" href="http://dx.doi.org/10.1109/SERVICES.2014.30">"Toward Increasing Awareness of Suspicious Content through Game Play,"</a>&nbsp;<i>IEEE World Congress on</i> Services (SERVICES), vol., no., <span class="skimlinks-unlinked">pp.113,120</span>, 2014.<br>
	doi: 10.1109/<span class="skimlinks-unlinked">SERVICES.2014.30</span></li>

	<li style="text-align:justify;"><strong>M. Hale</strong>, M.T. Gamble, and R. Gamble, <a target="_blank" href="http://dx.doi.org/10.1109/SERVICES.2013.46">"A Design and Verification Framework for Service Composition in the Cloud," </a><em>Proceedings of the IEEE Third International Workshop on Security and Privacy Engineering</em>, 2013.</li>

	<li style="text-align:justify;"><strong>M. Hale</strong> and R. Gamble, <a target="_blank" href="http://dx.doi.org/10.1109/SERVICES.2013.27">"Building a Compliance Vocabulary to Embed Security Controls in Cloud SLAs," </a><em>Proceeding of the IEEE Third International Workshop on Formal Methods in Services and Cloud Computing</em>, 2013.</li>

	<li style="text-align:justify;"><strong>M. Hale</strong> and R. Gamble, <a target="_blank" href="http://dx.doi.org/10.1109/GLOCOMW.2012.6477665">"Risk Propagation of Security SLAs in the Cloud," </a><em>Proceeding of the workshop on Management and Security technologies for Cloud Computing 2012, IEEE GLOBECOM</em>, 2012.</li>

	<li style="text-align:justify;"><strong>M. Hale and R. Gamble</strong>, <a target="_blank" href="http://dx.doi.org/10.1109/SERVICES.2012.31">"SecAgreement: Advancing Security Risk Calculations in Cloud Services," </a><em>8th IEEE World Congress on Services, 2012</em>.</li>

	<li style="text-align:justify;"><strong>M. Hale</strong>, R. F. Gamble, K. S. Wilson, &amp; A. Narayan, <a target="_blank" href="https://pdfs.semanticscholar.org/034c/aec9bfa85204c1bb44e240d9707170d368e2.pdf">"Collaborative Learning in Software Engineering Teams,"</a> <em>in 17th Americas Conference on Information Systems</em>, 2011.</li>

	<li style="text-align:justify;"><strong>Matthew Hale</strong>, Noah Jorgenson, and Rose Gamble (2011), <a target="_blank" href="http://dx.doi.org/10.1109/CSEET.2011.5876078" target="_blank">“Predicting individual performance in student project teams,”</a> <em>in Proceedings of the 24th IEEE-CS Conference on Software Engineering Education and Training (CSEE&amp;T)</em>, <span class="skimlinks-unlinked">pp.11-20</span>, 22-24 May 2011.</li>

	<li style="text-align:justify;">Noah M. Jorgenson, <strong>Matthew L. Hale</strong>, and Rose F. Gamble (2011). <a target="_blank" href="http://dx.doi.org/10.1145/1985793.1985982" target="_blank">“SEREBRO: facilitating student project team collaboration,”</a> in <em>Proceeding of the 33rd international conference on Software engineering</em> (ICSE ’11). ACM, New York, NY, USA, 1019-1021.</li>

	<li style="text-align:justify;"><strong>Matthew Hale</strong>, Noah Jorgenson, and Rose Gamble (2011). “<a target="_blank" href="https://doi.org/10.1145/1987856.1987873" target="_blank">"Analyzing the Role of Tags as Lightweight Traceability Links,”</a> in&nbsp;<em>Proceeding of the 6th international workshop on Traceability in emerging forms of software engineering</em> (TEFSE ’11), 2011. ACM, New York, NY, USA, 71-74. DOI=10.1145/1987856.1987873</li>

	<li style="text-align:justify;">M. Todd Gamble, Rose F. Gamble, and <strong>Matthew L. Hale</strong> (2011). <a target="_blank" href="https://doi.org/10.1145/1988630.1988633" target="_blank">“Security policy foundations in context UNITY,”</a> in <em>Proceeding of the 7th international workshop on Software engineering for secure systems</em> (SESS ’11). ACM, New York, NY, USA, 8-14. doi:10.1145/1988630.1988633</li>

	<li style="text-align:justify;">Grove, D. F., <strong>M. L. Hale</strong>, et al. (2010). “Introducing Avatars to Suggest Creative Participation,” presented at the <em>CreativeIT Workshop</em> as part of the <em>9th International Conference on Autonomous Agents and Multiagent Systems</em>.</li>
</ul>
