<h4 class="main-heading">Current Students </h4>
<div class="media">
	<div class="media-left">
		<a href="#">
			<img class="media-object" src="img/issac.jpg" width="300px">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">Issac Shrestha (MS)</h4>
		Building a visualization interface for the SecuWear wearable security analysis toolkit.
	</div>
</div>
<div class="media">
	<div class="media-left">
		<a href="#">
			<img class="media-object" src="img/mickey.jpg" width="300px">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">Mickey Helfley (MS)</h4>
		Building a visualization interface for the SecuWear wearable security analysis toolkit.
	</div>
</div>

<h4>Former Students</h4>
<div class="media">
	<div class="media-left">
		<a href="#">
			<img class="media-object" src="img/kerolos.jpg" width="300px">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">Kerolos Lotfy (MS)</h4>
		Analyzed Bluetooth Low Energy protocol and commercial wearable communications for vulnerabilities.
	</div>
</div>