<h4 class="main-heading">Current Students </h4>
<div class="media col-sm-12 hidden-xs">
	<div class="media-left">
		<a href="#">
			<img class="media-object" src="img/issac.jpg" width="300px">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">Issac Shrestha (MS)</h4>
		Building a visualization interface for the SecuWear wearable security analysis toolkit.
	</div>
</div>
<div class="media col-xs-12 visible-xs-block">
	<img class="media-object" src="img/issac.jpg" width="100%">
	<br>
	<h4 class="media-heading">Issac Shrestha (MS)</h4>
	Building a visualization interface for the SecuWear wearable security analysis toolkit.
</div>
<div class="media col-sm-12 hidden-xs">
	<div class="media-left">
		<a href="#">
			<img class="media-object" src="img/mickey.jpg" width="300px">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">Mickey Helfley (MS)</h4>
		Working on the Cybertrust 2.0 implementation to help train end users to recognize and be suspicious of phishing content.
	</div>
</div>
<div class="media col-xs-12 visible-xs-block">
	<img class="media-object" src="img/mickey.jpg" width="100%">
	<br>
	<h4 class="media-heading">Mickey Helfley (MS)</h4>
	Working on the Cybertrust 2.0 implementation to help train end users to recognize and be suspicious of phishing content.
</div>
<div class="media col-sm-12 hidden-xs">
	<div class="media-left">
		<a href="#">
			<img class="media-object" src="img/no-image.jpg" width="300px">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">Nikhit Adusumilli (MS)</h4>
		Building a visualization interface for the SecuWear wearable security analysis toolkit.
	</div>
</div>
<div class="media col-xs-12 visible-xs-block">
	<img class="media-object" src="img/no-image.jpg" width="100%">
	<h4 class="media-heading">Nikhit Adusumilli (MS)</h4>
	<br>
	Building a visualization interface for the SecuWear wearable security analysis toolkit.
</div>
<h4>Former Students</h4>
<div class="media col-sm-12 hidden-xs">
	<div class="media-left">
		<a href="#">
			<img class="media-object" src="img/kerolos.jpg" width="300px">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">Kerolos Lotfy (MS)</h4>
		Analyzed Bluetooth Low Energy protocol and commercial wearable communications for vulnerabilities.
	</div>
</div>
<div class="media col-xs-12 visible-xs-block">
	<img class="media-object" src="img/kerolos.jpg" width="100%">
	<h4 class="media-heading">Kerolos Lotfy(MS)</h4>
	<br>
	Analyzed Bluetooth Low Energy protocol and commercial wearable communications for vulnerabilities.
</div>